<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Chess Winner Prediction</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Style -->
    <!-- Examples at https://www.w3schools.com/w3css/w3css_examples.asp -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/w3.css')}}"></link>
    <!-- Chart -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <!-- ChessBoard -->
    <link rel="stylesheet" href="{{ url_for('static',filename='libs/chessboard/css/chessboard-1.0.0.css')}}"></link>
    <script type="text/javascript" src="{{ url_for('static',filename='libs/chessboard/js/chessboard-1.0.0.js')}}"></script>
    <!-- Div Style -->
    <style> div.none    {width:     750px; margin: auto; border: 0px solid #acb1a6; padding: 0px;}</style>
    <style> div.fixed   {width:     750px; margin: auto; border: 1px solid #acb1a6; padding: 5px;}</style>
    <style> div.flex    {max-width: 750px; margin: auto; border: 1px solid #acb1a6; padding: 5px;}</style>
    <style> a.header:link    {text-decoration:none;}
            a.header:visited {text-decoration:none;}
            a.header:hover   {text-decoration:underline;}
    </style>
</head>


<script>
function myFunction(select) {
    var pgn;
    console.log("Hello");
    switch (select) {
        case  1: pgn = '1. a3 g5 2. e4 c5 3. d4 cxd4 4. Qxd4 Nf6 5. Bxg5 Nc6 6. Qd3 Qb6 7. Bc1 Ng4 8. Nh3 d6 9. Nc3 Nge5 10. Qb5 Qxb5 11. Bxb5 Bxh3 12. gxh3 a6 13. Be2 Nd4 14. Kd1 Nxe2 15. Nxe2 Rc8 16. b3 Rg8 17. Be3 b5 18. a4 b4 19. a5 e6 20. Ra2 Be7 21. Ng3 Kd7 22. Ke2 Bd8 23. Rd1 Rb8 24. f4 Nc6 25. Bc5 Bc7 26. Bxd6 Bxd6 27. e5 Kc7 28. exd6+ Kd7 29. Ne4 Rg2+ 30. Kf3 Rxh2 31. Nc5+ Ke8 32. Rg1'; break;
        case  2: pgn = '1. g3 e5 2. c4 c6 3. Bg2 d5 4. Nf3 e4 5. Nd4 dxc4 6. Nc2 Nf6 7. Nc3 Bf5 8. O-O Bg6 9. Ne3 b5 10. b3 cxb3 11. Qxb3 Nbd7 12. Bb2 Nc5 13. Qc2 Be7 14. Rfc1 O-O 15. Ncd1 a5 16. Bxf6 gxf6 17. g4 Ne6 18. Nf5 Bxf5 19. gxf5 Nd4 20. Qxe4 Ba3 21. Rc3 Bb4 22. Rh3 Re8 23. Qg4+ Kf8 24. e3 Nc2 25. Rxh7 Nxa1 26. Bxc6 Ke7 27. Bxb5 Rg8 28. Rg7 Rxg7 29. Qxg7 Qg8 30. Qxg8 Rxg8+ 31. Kf1 Rb8 32. Ke2 Rxb5'; break;
        default: pgn = $('#pgn').val(); break;
    } 

    $.ajax({
        url: "/join",
        type: "POST",
        data: {pgn:pgn}
    }).done(function(response) {

        // Start of dynamic section
        var html = '';

        switch (select) {
            case 1: 
                html +='<div align="left" class="fixed">';
                html +='This is an example for a white win from a game between Hikaru Nakamura (playing white) and Magnus Carlsen (playing black) on October 11, 2022. This game was won by Hikaru Nakamura playing white and its PGN is available at ';
                html +='<a href="https://www.chess.com/games/view/16270059">chess.com</a>.<br>';
                html +='<p>The AI on this wepage generated the graph "Move Ratings". Each move (indexed on the horizontal axis) is rated to be more favorable to a white win (if above the zero line) or to a black win (if below the zero line). The majority of moves are above the zero line and point to a white win. Notable changes occur between moves 10W and 11W, between 13W and 14B and again between 19W and 22W. From move 22W onwards, the graphs indicates moves all favorable to a white win until the end of the game on move 32W.<br></p>'; 
                html +='<p>The chessboard in section "Moves on Board" shows the final board position on move 32W. Beneath the chess board is a table with a button for each move of the game. This allows to replay and analyze moves that resulted in large changes of favorability towards a white win or a black win. For this game, clicking on "Show 10W" until "Show 12W" replays a series of piece captures that turned the board position from favorable to a black win towards favorable to a white win.<br></p>';
                html +='If you have a PGN you would like to evaluate, paste it in the text box at the top of this page and press "Submit".';
                html +='</div><br>';
                break;
            case 2: 
                html +='<div align="left" class="fixed">';
                html +='This is an example for a black win from a game between Alireza Firouzja (playing white) and Magnus Carlsen (playing black) on July 19, 2023. This game was won by Magnus Carlsen playing black and its PGN is available at ';
                html +='<a href="https://www.chess.com/games/view/16551049">chess.com</a>.<br>';
                html +='<p>The AI on this wepage generated the graph in section "Move Ratings". Each move (indexed on the horizontal axis) is rated to be more favorable to a white win (if above the zero line) or to a black win (if below the zero line). The majority of moves are below the zero line and point to a black win. Notable changes occur between moves 26W and 31W.<br></p>'; 
                html +='<p>The chessboard in section "Moves on Board" shows the final board position on move 32B. Beneath the chess board is a table with a button for each move of the game. This allows to replay and analyze moves that resulted in large changes of favorability towards a white win or a black win. For this game, clicking on "Show 26W" until "Show 31W" replays a series of piece captures that returned the board position towards favorable to a black win from a brief sequence of moves that were favorable to a white win. During this signficant sequence of moves a white rook, a black rook, the black queen and the white queen were captured, removing all white rooks from the board.<br></p>';
                html +='If you have a PGN you would like to evaluate, paste it in the text box at the top of this page and press "Submit".';
                html +='</div><br>';
                break;
            default: 
                // html +='<div align="left" class="fixed">';
                // html +='The PGN evaluated in this run is '+pgn;    
                // html +="<br></div><br>";
                break;
        }

        // HTML Chart
        html +='<div align="center" class="fixed"><h3>Move Ratings</h3>';
        html +='<p>Positive values correlate with a win for white, negative values with a win for black<br>Zero indicates a tie</p>';
        html +='<canvas id="myChart" style="width:100%;max-width:650px"></canvas>';
        html +="<br></div><br>";
        
        // HTML ChessBoard
        html +='<div align="center" class="fixed"><h3>Moves on Board</h3>';
        html +='<div id="board" style="width: 400px"><br></div><br>';
        // html +='<button id="clearBtn">Clear Board</button>';
        // html +='<button id="setFenBtn">FEN</button>';

        // HTML Table
        html += '<div style="height:150px; overflow:auto;">';   
        html += '<table class=\"w3-table w3-bordered w3-centered w3-striped\"><tr><th>Move</th><th>Rating</th><th>Position</th></tr>';
        response = response.result;
        // console.log("Marker");

        // var idx = 0;
        var xvalstr = '[';
        var yvalstr = '[';
        var endpos  = '';
        
        // Test Values
        // var xvalstr = '["1W","1B",3,4,5,6,7,];';
        // var yvalstr = '[0.06,0.14,0.52,0.75,-0.1,-0.9,0.9,];';  

        Object.keys(response).forEach(element => {
            html += "<tr><td>"+response[element].move+"</td>";
            // html += "<td>"+response[element].color+"</td>";
            html += "<td>"+response[element].rating+"</td>";
            // html += '<td><button id="setFenBtn'+idx+++'">FEN'+idx+'</button></td></tr>';
            html += '<td><button class="w3-btn w3-brown" id="setFenBtn'+response[element].move+'">Show '+response[element].move+'</button></td></tr>';
            xvalstr += '"'+response[element].move+'",'; // Place string like 1W into quotation marks
            yvalstr += response[element].rating+',';    // Numerical values do not need quotation marks
            endpos = response[element].fen; // Overwrite to get the last one without use of index
            });
            xvalstr += '];';
            yvalstr += '];';
            endpos = '\''+endpos+'\',';

        html +="</table><br>";
        html +='<button class="w3-btn w3-brown" id="startBtn">Start Position</button>';
        html +="<br></div></div><br>";
        
        // Start script section in generated HTML
        html +='<scr';
        html +='ipt>';

        // Chart
        html +='var xValues = '+xvalstr;
        html +='var yValues = '+yvalstr;
        html +='new Chart("myChart", {';
        html +='type: "line",';
        html +='data: {';
            html +='labels: xValues,';
            html +='datasets: [{';
                html +='fill: false,';
                html +='lineTension: 0.1,';
                html +='backgroundColor: "rgba(140,104,74,1.0)",';
                html +='borderColor: "rgba(140,104,74,0.2)",';
                html +='data: yValues';
                html +='}]},';
            html +='options: {';
                html +='legend: {display: false},';
                html +='scales: {';
                html +='yAxes: [{ticks: {min: -1, max:1}}]';
            html +='}}});';
        // html +="myChart.destroy();"

        // Chessboard Script
        html +='var board = ChessBoard(\'board\', {';
        html +='position: '+endpos; // \'r2q1rk1/pp1nbpp1/2p1pn1p/7P/3PNB2/3Q1N2/PPP2PP1/1K1R3R b - - 5 14\',';
        html +='draggable: true,';
        html +='dropOffBoard: \'trash\',';
        html +='sparePieces: false});';
        idx = 0;
        Object.keys(response).forEach(element => { 
            // html +='$(\'#setFenBtn'+idx+++'\').on(\'click\', function () {board.position(\''+response[element].fen+'\')});';
            html +='$(\'#setFenBtn'+response[element].move+'\').on(\'click\', function () {board.position(\''+response[element].fen+'\')});';
            });
        html +='$(\'#startBtn\').on(\'click\', board.start);';
        // html +='$(\'#clearBtn\').on(\'click\', board.start);';        
        // html +='$(\'#setFenBtn\').on(\'click\', function () {board.position(\'rnbqkbnr/pp1ppppp/2p5/8/4P3/8/PPPP1PPP/RNBQKBNR w KQkq - 0 2\')});';
        
        // End script section in generated HTML
        // Because </ script> is declared again, HTML parser shows an error
        html +='</scr'; // Workaround from https://stackoverflow.com/questions/40222809/syntaxerror-unexpected-eof-on-closing-script
        html +='ipt>';        

        html +='<div align="center" class="fixed"><h3>PGN</h3>';
        html +='<div align="left">'+pgn;
        // html +='The <a href="https://en.wikipedia.org/wiki/Portable_Game_Notation">PGN<a> evaluated is <br>'+pgn;    
        html +="</div></div>";

        // Display HTML in DIV section of HTML body
        // idx = 0;
        $(".show-data").empty().append(html);
    });
};
</script>

<body>
    <!-- Header -->
    <h1 align="center" class="w3-container w3-brown"><a class="header" href="http://www.kohlenz.com/chess">Chess Winner Prediction</a></h1>

    <!-- Textbox for PGN -->
    <div align="left" class="none">
    <p>
    <label class="w3-text-brown"><b>Enter PGN</b></label>
    <input class="w3-input w3-border" type="text" id="pgn" name="pgn" size="50" required></input>
    <p><button class="w3-btn w3-brown" id="clicked" onclick="myFunction(0)">Submit</button></p>
    </p>
    </div>

    <!-- Section where dynamic content is placed -->
    <div class="show-data">
        <div align="left" class="fixed">
            <h3 align="center">Introduction</h3>
            This webpage uses AI to evaluate a sequence of chess moves in the form of a <a href="https://en.wikipedia.org/wiki/Portable_Game_Notation">PGN (Portable Game Notation)</a>.
            Each move in the sequence is rated to be more favorable to a white win or to a black win. 
            This can be used with partially played games to predict the likelihood of a white win or a black win,  
            or it can be used to analyze already played games to find which sequence of moves turned the board to be more favorable to a white win or a black win.            
        </div><br>

        <div align="left" class="fixed">
            <h3 align="center">Usage</h3>
            The best way to learn how to use this webpage is by clicking on the the below examples for a white win and a black win. Doing so will run a pre-selected PGN on the AI model and provide a description how to interpret the results.
            <ul>
            <li><a href="javascript:void(0)" onclick="myFunction(1)">Example for white win</a></li>
            <li><a href="javascript:void(0)" onclick="myFunction(2)">Example for black win</a></li>
            </ul>
            <p>For use with any PGN, just copy the PGN you would like to evaluate into the textbox on top of the page and press "Submit". Please make sure to leave out auxiliary information in square brackets that often comes with PGNs and submit only the move sequence, starting with with the number "1."</p>
            A large selection of PGNs is available in the <a href="https://www.chess.com/games">games database at chess.com</a> and can be exported using the <a href="https://www.chess.com/terms/chess-pgn#using-pgn-chesscom">instructions at chess.com</a>.
        </div><br>

        <div align="left" class="fixed">
            <h3 align="center">Documentation</h3>
            The links in the list below provide background for the work that went into this webpage. 
            Project description outlines the steps from the original dataset, model selection and model evaluation all the way to deployment of the model on a server through this webpage. 
            This project description puts the code for training and deployment into context. 
            <ul>
                <li><a href="https://github.com/morris-francis-collins/chess_training/blob/main/Chess_Winner_Prediction.pdf">Project Description</a></li>
                <li><a href="https://github.com/morris-francis-collins/chess_training">Code for chess training on Google Colab</a></li>
                <li><a href="https://github.com/morris-francis-collins/chess_deployment">Code for chess deployment on Google Cloud server</a></li>
            </ul>
        </div>
    </div>
    <div align="center" class="none">   
    <p>Mail questions or comments to <a href="mailto:chess@kohlenz.com">chess@kohlenz.com</a></p>
    </div>

</body>
</html>